*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
  /*удалить подложку*/
  /*background-image: url(../img/gllacy-index-grid.jpg);*/
  /*background-image: url(../img/gllacy-catalog-grid.jpg);*/
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- Кнопка --- */

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/* --- Обертка слайдера --- */

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  /*удалить*/
  background-color: transparent;
}

.site-wrapper-inner-page {
  background-image: none;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

/* --- Контейнер сайта --- */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  /* Для демонстрации */
  min-height: 100vh;
  outline: 1px solid yellow;
  background-color: transparent;
}

/* --- Фоновый слайдер --- */

.slider {
  position: relative;
  margin-bottom: 43px;
  padding-top: 272px;
  text-align: center;
  color: #ffffff;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 27px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls:hover .slider-controls:focus,
  {
  background-color: rgba(248, 247, 244, 0.4);
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

/* --- Шапка сайта --- */

.main-header {
  margin: 0;
  padding: 0 27px;
  height: 120px;
}

.main-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

/* --- Логотип в шапке --- */

.main-header-logo {
  width: 154px;
  height: 64px;
  margin: 0;
  margin-top: 10px;
  margin-right: 9px;
}

/* --- Главная навигация --- */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 28px;
  padding: 0;
  width: 600px;
  list-style: none;
}

.site-navigation a {
  position: relative;
  margin: 5px 15px;
  padding: 0;
  border-radius: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
}

.site-navigation a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover::after,
.site-navigation a:focus::after,
.site-navigation a:active::after {
  display: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  margin: 0;
  padding: 5px 15px;
  color: #333333;
  background-color: #f7f6f3;
  border-radius: 15px;
  border-bottom: none;
}

.site-navigation a:active {
  color: #333333;
  background-color: #f8f7f4;
  border-bottom: none;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation .site-navigation-item-link-active {
  margin: 0;
  padding: 5px 15px;
  color: #ffffff;
  background-color: #d07058;
  border-radius: 15px;
  border-bottom: none;
}

.site-navigation .site-navigation-item-link-active::after {
  display: none;
}

.site-navigation>li {
  display: inline-block;
  position: relative;
}

.catalog-sub-menu {
  position: absolute;
  display: none;
  list-style: none;
}

.site-navigation-item-submenu:hover .catalog-sub-menu {
  display: block;
}

/* --- Навигация пользователя --- */

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  margin-top: 3px;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-navigation a {
  margin: 0;
  margin-left: 10px;
  padding: 8px;
  height: 30px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  color: #323232;
  background-color: #f8f7f4;
}

.user-navigation .user-navigation-search-link {
  position: relative;
  padding-right: 17px;
  padding-left: 17px;
  border-radius: 50%;
}

.user-navigation-search-link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 9px;
  width: 17px;
  height: 17px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-search-link:hover::before {
  background-image: url("../img/loupe-black.svg");
}

.user-navigation .user-navigation-logo-link {
  position: relative;
  padding-right: 15px;
  padding-left: 45px;
}

.user-navigation-logo-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-logo-link:hover::before {
  background-image: url("../img/entrance-black.svg");
}

.user-navigation .user-navigation-cart-link {
  position: relative;
  width: 100px;
  padding-right: 15px;
  padding-left: 45px;
}

.user-navigation-cart-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 15px;
  width: 21px;
  height: 20px;
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-cart-link:hover::before {
  background-image: url("../img/basket-red.svg");
}

/* --- Режим работы и телефон --- */

.main-header-phones {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 74px;
  right: 0;
  margin: 0;
  padding: 0;
}

.main-header-phones-shedule {
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header-phones-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

/* --- Баннеры --- */

.bunners {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 27px;
}

.bunners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.bunners-item {
  position: relative;
  margin: 0;
  padding: 16px 19px;
  padding-bottom: 23px;
  width: 560px;
  font-weight: 700;
  text-align: left;
  color: #fff;
  border-radius: 15px;
}

.bunners-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.bunners-item p {
  font-size: 18px;
  line-height: 22px;
}

.bunners-item-description {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

.bunners-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.bunners-item-button {
  position: absolute;
  bottom: 23px;
  right: 19px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.bunners-item-left-image {
  background: url("../img/bunner-left.jpg") no-repeat #5e0d1d;
}

.bunners-item-right-image {
  background: url("../img/bunner-right.jpg") no-repeat #452b1f;
}

/* --- Каталог и хиты --- */

.catalog {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  width: 1172px;
  list-style: none;
}

.catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 7px;
  padding: 0;
  width: 293px;
  min-height: 290px;
  text-align: center;
}

.catalog-item:hover {
  background-color: #9bafa3;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: -5px;
  background: transparent;
  z-index: -1;
}

.catalog-item:hover .catalog-button-container {
  display: block;
}

.catalog-item h3 {
  z-index: 15;
  order: 1;
  margin: 0;
  margin-top: -11px;
  padding: 15px;
  padding-top: 0;
}

.catalog-image img {
  margin: 0;
  padding: 0;
  border-radius: 50%;
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  color: #ffffff;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-price {
  position: absolute;
  top: 179px;
  left: 12px;
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-hit {
  position: absolute;
  top: 0;
  left: 13px;
}

.catalog-button-container {
  position: absolute;
  width: 100%;
  display: none;
  bottom: -80px;
  padding: 20px;
  z-index: 3;
  background-color: #9bafa3;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-button {
  z-index: 3;
  padding-left: 25px;
  padding-right: 25px;
}

.catalog-weight {
  font-size: 30px;
}

/* --- Особенности --- */

.features {
  margin: 0;
  margin-bottom: 32px;
  padding: 0 27px;
  background-color: transparent;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 20px;
  background: url("../img/waffer.png") repeat #efe2ca;
  border-radius: 15px;
}

.features-wrapper p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  margin: 0;
  padding: 14px 5px 7px 56px;
  width: 540px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.features-item-first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 204px;
  height: 204px;
  background-color: transparent;
  background-image: url("../img/ice-cream.svg");
  background-repeat: no-repeat;
}

.features-item-second::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 204px;
  height: 204px;
  background-color: transparent;
  background-image: url("../img/eco.svg");
  background-repeat: no-repeat;
}

.features-item-third::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 204px;
  height: 204px;
  background-color: transparent;
  background-image: url("../img/cow.svg");
  background-repeat: no-repeat;
}

.features-item-forth::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 204px;
  height: 204px;
  background-color: transparent;
  background-image: url("../img/thermometer.svg");
  background-repeat: no-repeat;
}

/* --- Разное --- */

.miscellanea {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 27px;
  /*временно*/
  min-height: 220px;
}

.miscellanea-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 220px;
  list-style: none;
  /* --- временно для сетки --- */
  background: transparent;
}

.miscellanea-item {
  margin: 0;
  padding: 0;
  width: 560px;
  min-height: 220px;
  background-color: transparent;
  border-radius: 15px;
}

.miscellanea-item-left {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin: 0;
  padding: 23px 19px;
  min-height: 220px;
  background-color: #ffffff;
  background-image: url("../img/news-1.jpg");
  background-position: 116% 20%;
  background-repeat: no-repeat;
}

.miscellanea-item-left h3 {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 300px;
}

.miscellanea-item-left a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
  border-bottom: 2px solid #353535;
}

.miscellanea-item-left p {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.miscellanea-item-right {
  margin: 0;
  padding: 0;
  min-height: 220px;
  background-color: #f8f7f4;
  background-image: url(../img/bg-post.svg);
}

.miscellanea-item-right-wrapper {
  display: flex;
  flex-direction: column;
  margin: 6px;
  padding: 13px 20px;
  min-height: 208px;
  background-color: #f8f7f4;
  border-radius: 15px;
}

.miscellanea-item-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #5a5a5a;
  background-color: #f8f7f4;
}

.miscellanea-email-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.miscellanea-email-form-item input {
  width: 368px;
  height: 45px;
  margin: 0;
  padding: 0 15px;
  font: inherit;
  font-size: 16;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.miscellanea-email-form-item input:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.miscellanea-email-form-item input:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.miscellanea-button {
  padding: 12px 16px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

/* --- Карта с контактами --- */

.contacts {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 430px;
}

.contacts-wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.contacts-map {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 430px;
}

.contacts-info {
  position: absolute;
  bottom: 62px;
  right: 27px;
  margin: 0;
  padding: 33px 25px 0px 25px;
  width: 302px;
  min-height: 310px;
  background-color: rgba(255, 255, 255, 0.98);
  border-radius: 15px;
}

.contacts-address {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-address b {
  display: inline-block;
  margin: 0;
  margin-top: 2px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones b {
  display: inline-block;
  margin: 0;
  margin-top: 6px;
  margin-bottom: 1px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones span {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-button {
  margin: 0;
  padding: 10px 27px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

/* --- Подвал сайта --- */

.main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 0 27px;
  min-height: 40px;
}

/* --- Социальные кнопки --- */

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  margin-top: 35px;
  margin-right: 236px;
  margin-bottom: 20px;
  padding: 0;
  min-width: 186px;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  color: rgba(255, 255, 255, 1);
  border: 3px solid rgba(255, 255, 255, 0.7);
}

/* --- Обязательная информация --- */

.footer-documents-list-first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  width: 143px;
  list-style: none;
  background-color: transparent;
}

.footer-documents-item-heart {
  position: relative;
  display: block;
}

.footer-documents-item-heart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -22px;
  width: 20px;
  height: 20px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.footer-documents-list-second {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  width: 200px;
  list-style: none;
}

.footer-documents-item {
  margin: 0;
  margin-right: 20px;
  padding: 0;
}

.footer-documents-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-documents-item-heart a {
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-documents-item a:hover,
.footer-documents-item-heart a:hover,
.footer-documents-item a:focus,
.footer-documents-item-heart a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.footer-copyright a {
  margin: 0;
  margin-top: 17px;
  padding: 0;
}

.footer-copyright-madein {
  margin: 0;
  margin-top: 2px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.footer-copyright-madein a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

.footer-copyright-madein a:hover,
.footer-copyright-madein a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/* --- Модальные окна --- */

.modal {
  color: #000000;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  background-color: rgb(248, 247, 244);
}

.modal-login-button,
.modal-feedback-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-login-form input,
.modal-search-form input,
.modal-feedback-form input,
.modal-feedback-form textarea {
  font: inherit;
  font-size: 16;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal-login-form input:hover,
.modal-search-form input:hover,
.modal-feedback-form input:hover,
.modal-feedback-form textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.modal-login-form input:focus,
.modal-search-form input:focus,
.modal-feedback-form input:focus,
.modal-feedback-form textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.modal-login-form a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  background-color: rgb(248, 247, 244);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-login-form a:hover,
.modal-login-form a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/* --- Стили внутренней страницы --- */

/* --- Шапка на внутренней --- */

.main-header-inner {
  margin: 0;
  padding: 0 27px;
  height: 95px;
}

/* --- Крошки и название страницы --- */

.catalog-navigation {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 23px;
  padding: 0 27px;
}

/* --- Название страницы --- */

.page-title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
  height: 44px;
  /*временно*/
  background: transparent;
}

/* --- Хлебный крошки --- */

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 2px;
  padding: 0;
  width: 75%;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 21px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li::after {
  content: "\00BB";
  position: absolute;
  top: 3px;
  right: -14px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.breadcrumbs-current {
  margin: 0;
  margin-top: 3px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.breadcrumbs-current::after {
  display: none;
}

/* --- Фильтры --- */

.filters {
  margin: 0;
  margin-bottom: 24px;
  padding: 0 27px;
  height: 133px;
}

.filters-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin: 0;
  padding: 0;
  width: 860px;
  height: 133px;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filters-form legend {
  margin: 0;
  margin-left: 16px;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}

.filters-button {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  width: 145px;
  height: 36px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.188);
  background-image: none;
  border: 2px solid white;
  border-radius: 40px;
}

.filters-option {
  margin: 10px 0 10px 50px;
  padding: 0;
}

.filters-option:first-child {
  margin-left: 45px;
}

.filters-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.sorting-select {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  width: 100%;
  height: 35px;
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
}

.sorting-select option {
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #323232;
  background-color: rgba(255, 255, 255, 1);
}

.filters-input-radio+label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-radio:checked+label::after {
  content: "";
  position: absolute;
  left: -30px;
  top: -5px;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -30px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters-fieldset-sorting {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 195px;
}

.filters-fieldset-range {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 220px;
}

.filters-fieldset-fat {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 415px;
}

.fatness-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  list-style: none;
}

.filters-fieldset-filler {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 705px;
}

.filler-list {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 35px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
  list-style: none;
}

.filter-range {
  width: 330px;
  margin: 50px auto;
  /* для демо */
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

/* --- Ползунок --- */

.filters-fieldset-range {
  position: relative;
  margin: 0;
  padding: 0;
}

.range-filter {
/*  position: relative;*/
  margin: 0;
  padding: 0;
  width: 100%;
  /*margin-top: 10px;*/
}

.range-controls {
  position: relative;
  height: 35px;
  margin-bottom: 0px;
  padding-top: 15px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 35px;
}

.range-controls .scale {
  height: 5px;
  background-color: rgba(248, 247, 244, 0.502);
}

.range-controls .bar {
  width: 70%;
  height: 5px;
  background-color: rgba(248, 247, 244, 1);
}

.range-controls .toggle {
  position: absolute;
  top: 6px;
  left: 0;
  width: 20px;
  height: 23px;
  padding: 0;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 35px;
}

.range-controls .toggle-max {
  left: 135px;
}

.price-controls {
  position: absolute;
  top: 0;
  left: 42px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}

.price-controls input {
  margin: 0;
  margin-left: 16px;
  padding: 0;
  width: 24px;
  font: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background: transparent;
  border: none;
  text-align: left;
}

.max-price {
  margin-left: -10px;
}

/* --- Пагинация --- */

.pagination {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0 27px;
  /*удалить*/
  background-color: transparent;
  outline: 10px solid red;
}

.pagination-list {
  margin: 0;
  padding: 0;
  /*временно*/
  width: 200px;
  height: 40px;
  background: transparent;
  outline: 1px solid blue;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 5px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 5px;
  color: #ffffff;
  background-color: black;
  border-radius: 50%;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: rgba(248, 247, 244, 0.4);
  cursor: pointer;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

/* --- Модальные окна внутренней страницы --- */

.modal-product-view-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-products td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-products-price {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
  background-color: #f8f7f4;
}

.modal-products-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  background-color: #f8f7f4;
}

/* --- TODO LIST --- */
/*Спросить о селекторе для выбора цвета фона карточки в зависимости от фона сайта*/
/*Стилизовать выпадающее меню в каталоге*/
/*Выровнять кнопки, тексты и чекеры в фильтрах*/
/*Стилизовать кнопку в фильтрах*/
/*Стилизовать и выровнять пагинацию*/
/*Спросить как сделать наведение на кнопках слайдера*/
/*Сделать карту ифреймом*/
/*Сделать модальные окна*/
/*Оживить интерактивные элементы*/
/*Удалить подложки дизайна из директории рисунков*/
/*Слить сетки с основными файлами сайта*/
/*Вычистить код CSS от демонстрационных правил*/
