body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #849d8f;
}

.button {
  margin: 20px;
  padding: 13px 40px;
  font: inherit;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  color: #ffffff;
  background-color: none;
  background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  border-radius: 40px;
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  color: #fceeec;
  background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-bottom: none;
}

.site-navigation a:active {
  color: #333333;
  background-color: #f8f7f4;
  border-bottom: none;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  color: #323232;
  background-color: #f8f7f4;
}

.main-header-phones {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header-phones-number {
  font-size: 22px;
  line-height: 24px;
}

.offer-list {
  list-style: none;
}

.offer-item {
  text-align: center;
  color: #ffffff;
}

.offer-item h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-bullet-list {
  text-align: left;
}

.slider-bullet-list button {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-bullet-item {
  background-color: transparent;
}

.slider-bullet-item:hover,
.slider-bullet-item:focus {
  background-color: rgba(248, 247, 244, 0.4);
  cursor: pointer;
}

.slider-bullet-item:active {
  background-color: #ffffff;
}

.slider-bullet-item-current {
  background-color: #ffffff;
}

.bunners-list {
  list-style: none;
}

.bunners-item {
  font-weight: 700;
  text-align: left;
  color: #fff;
}

.bunners-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.bunners-item p {
  font-size: 18px;
  line-height: 22px;
}

.bunners-item-button {
  text-align: right;
}

.bunners-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  text-align: center;
}

.catalog-item:hover {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  color: #ffffff;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-weight {
  font-size: 30px;
}

.features {
  background-color: #efe2ca;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.features-list {
  list-style: none;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.miscellanea-list {
  list-style: none;
}

.miscellanea-item {
  background-color: rgba(255, 255, 255, 0.8);
}

.miscellanea-item-left a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #353535;
}

.miscellanea-item-left p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.8);
}

.miscellanea-item-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.miscellanea-email-form-item input {
  font: inherit;
  font-size: 16;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.miscellanea-email-form-item input:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.miscellanea-email-form-item input:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.miscellanea-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.contacts-address,
.contacts-phones {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones b {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones span {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.footer-social {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-documents-list {
  list-style: none;
}

.footer-documents-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-documents-item-heart a {
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-documents-item a:hover,
.footer-documents-item-heart a:hover {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.footer-copyright-madein {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.footer-copyright-madein a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

.modal {
  color: #000000;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  background-color: rgb(248, 247, 244);
}

.modal-login-button,
.modal-feedback-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-login-form input,
.modal-search-form input,
.modal-feedback-form input,
.modal-feedback-form textarea {
  font: inherit;
  font-size: 16;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal-login-form input:hover,
.modal-search-form input:hover,
.modal-feedback-form input:hover,
.modal-feedback-form textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.modal-login-form input:focus,
.modal-search-form input:focus,
.modal-feedback-form input:focus,
.modal-feedback-form textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.modal-login-form a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  background-color: rgb(248, 247, 244);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-login-form a:hover,
.modal-login-form a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: rgba(248, 247, 244, 0.4);
  cursor: pointer;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.filters-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-product-view-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-products td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-products-price {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
  background-color: #f8f7f4;
}

.modal-products-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  background-color: #f8f7f4;  
}