body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
  background-color: #849d8f;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

/*мои первоначальные кнопки*/

/* 
.button:hover,
.button:focus {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.button:active {
  color: #fceeec;
  background-image: linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}*/

.site-navigation {
  list-style: none;
}

.site-navigation a {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #333333;
  background-color: #f7f6f3;
  border-bottom: none;
}

.site-navigation a:active {
  color: #333333;
  background-color: #f8f7f4;
  border-bottom: none;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}

.site-navigation>li {
  display: inline-block;
  position: relative;
}

.catalog-sub-menu {
  position: absolute;
  display: none;
  list-style: none;
}

.site-navigation-item-submenu:hover .catalog-sub-menu {
  display: block;
}

.user-navigation {
  list-style: none;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus,
.user-navigation a:active {
  color: #323232;
  background-color: #f8f7f4;
}

.main-header-phones {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header-phones-number {
  font-size: 22px;
  line-height: 24px;
}

.offer-list {
  list-style: none;
}

.offer-item {
  text-align: center;
  color: #ffffff;
}

.offer-item h3 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
}

.slider-bullet-list {
  text-align: left;
}

.slider-bullet-list button {
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slider-bullet-item {
  background-color: transparent;
}

.slider-bullet-item:hover,
.slider-bullet-item:focus {
  background-color: rgba(248, 247, 244, 0.4);
  cursor: pointer;
}

.slider-bullet-item:active {
  background-color: #ffffff;
}

.slider-bullet-item-current {
  background-color: #ffffff;
}

.bunners-list {
  list-style: none;
}

.bunners-item {
  font-weight: 700;
  text-align: left;
  color: #fff;
}

.bunners-item h3 {
  font-size: 35px;
  line-height: 41px;
}

.bunners-item p {
  font-size: 18px;
  line-height: 22px;
}

.bunners-item-button {
  text-align: right;
}

.bunners-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.catalog-list {
  list-style: none;
}

.catalog-item {
  text-align: center;
}

.catalog-item:hover {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.catalog-item a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500px;
  color: #ffffff;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.catalog-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-weight {
  font-size: 30px;
}

.features {
  background-color: transparent;
}

.features p {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.features-list {
  list-style: none;
}

.features-item {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: transparent;
}

.miscellanea-list {
  list-style: none;
}

.miscellanea-item {
  background-color: rgba(255, 255, 255, 0.8);
}

.miscellanea-item-left a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 2px solid #353535;
}

.miscellanea-item-left p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: left;
  color: rgb(50, 50, 50);
  background-color: rgba(255, 255, 255, 0.8);
}

.miscellanea-item-right p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  text-align: left;
  color: #5a5a5a;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.miscellanea-email-form-item input {
  font: inherit;
  font-size: 16;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.miscellanea-email-form-item input:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.miscellanea-email-form-item input:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.miscellanea-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.contacts-address,
.contacts-phones {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-address b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones b {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-phones span {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
  background-color: rgba(255, 255, 255, 0.98);
}

.contacts-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.footer-social {
  list-style: none;
}

.social-button {
  color: #ffffff;
}

.footer-documents-list {
  list-style: none;
}

.footer-documents-item a {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-documents-item-heart a {
  font-weight: 700;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-documents-item a:hover,
.footer-documents-item-heart a:hover {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.footer-copyright-madein {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.footer-copyright-madein a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  border-bottom: 1px solid rgba(254, 254, 254, 0.2);
}

.modal {
  color: #000000;
  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal h2 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color: #323232;
  background-color: rgb(248, 247, 244);
}

.modal-login-button,
.modal-feedback-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-login-form input,
.modal-search-form input,
.modal-feedback-form input,
.modal-feedback-form textarea {
  font: inherit;
  font-size: 16;
  line-height: 24px;
  font-weight: 400;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}

.modal-login-form input:hover,
.modal-search-form input:hover,
.modal-feedback-form input:hover,
.modal-feedback-form textarea:hover {
  border: 1px solid rgba(154, 154, 154, 0.52);
}

.modal-login-form input:focus,
.modal-search-form input:focus,
.modal-feedback-form input:focus,
.modal-feedback-form textarea:focus {
  border: 1px solid rgba(46, 136, 228, 0.52);
}

.modal-login-form a {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;
  background-color: rgb(248, 247, 244);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.modal-login-form a:hover,
.modal-login-form a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #ffffff;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgb(255, 188, 158);
  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: rgba(248, 247, 244, 0.4);
  cursor: pointer;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.filters-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-product-view-button {
  padding: 13px 22px;
  font-size: 18px;
  line-height: 24px;
  border-radius: 40px;
}

.modal-products td {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  background-color: #f8f7f4;
}

.modal-products-price {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
  background-color: #f8f7f4;
}

.modal-products-total {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  background-color: #f8f7f4;
}

/* ----- Стили для сеток ----- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 1200px;
  min-height: 3200px;
  box-sizing: border-box;
}

body {
  /* --- временно для сетки --- */
  background-image: url(../img/gllacy-index-grid.jpg);
  /*background-image: url(../img/gllacy-catalog-grid.jpg);*/
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper {
  min-width: 940px;
  background-color: #849d8f;
  background-image: url("../img/slider-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  /* Для демонстрации */
  /*min-height: 100vh;*/
  /*outline: 5px dashed white;*/
  background-color: rgba(255, 255, 255, 0.1);
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("img/slider-item2.png");
}

.site-wrapper::after {
  background-image: url("img/slider-item3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  /* Для демонстрации */
  min-height: 100vh;
  outline: 1px solid yellow;
  background-color: rgba(132, 157, 143, 0.1);
}

.main-header {
  margin: 0;
  padding: 0;
  /*удалить*/
  height: 120px;
  outline: 10px solid rgba(255, 0, 0, 1);
}

.slider {
  position: relative;
  margin-bottom: 43px;
  padding-top: 272px;
  text-align: center;
  color: #ffffff;
  /*удалить*/
  outline: 10px solid rgba(255, 0, 0, 0.1);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls {
  position: absolute;
  bottom: 19px;
  left: 27px;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls:hover .slider-controls:focus,
  {
  background-color: rgba(248, 247, 244, 0.4);
  border: 2px solid red;
}

#product-1:checked~.site-wrapper {
  /*background-color: #849d8f;*/
  background-image: url("../img/slider-1.png");
}

#product-2:checked~.site-wrapper {
  /*background-color: #8996a6;*/
  background-image: url("../img/slider-2.png");
}

#product-3:checked~.site-wrapper {
  /*background-color: #9d8b84;*/
  background-image: url("../img/slider-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: block;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
  padding: 0;
  width: 1146px;
  /* --- временно для сетки --- */
  background: transparent;
  outline: 1px solid red;
}

.main-navigation-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  /* --- временно для сетки --- */
  /*min-height: 74px;*/
  background: transparent;
  outline: 1px solid blue;
}

.main-header-phones {
  margin: 0;
  padding: 0;
  /*временно*/
  min-width: 200px;
  min-height: 44px;
  background: transparent;
  outline: 1px solid blue;
}

.main-navigation-wrapper .container {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin: 0;
  margin-top: 9px;
  margin-right: 24px;
  /*временно*/
  background: transparent;
  outline: 1px solid yellow;
}

.site-navigation {
  margin: 0;
  margin-top: 6px;
  padding: 0;
  list-style: none;
  /*временно*/
  min-width: 400px;
  height: 20px;
  background: transparent;
  outline: 1px solid yellow;
}

.user-navigation {
  margin: 0;
  margin-top: 5px;
  margin-left: auto;
  padding: 0;
  list-style: none;
  /*временно*/
  min-width: 270px;
  min-height: 35px;
  background: transparent;
  outline: 1px solid yellow;
}

.main-container {
  /* --- временно для сетки --- */
  outline: 1px solid green;
}

.offer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: -120px;
  padding: 0;
  width: 1146px;
  /* --- временно для сетки --- */
  min-height: 900px;
  background: transparent;
  outline: 1px solid red;
}

.offer-item {
  margin: 0;
  /*временно*/
  width: 100%;
  height: 100%;
  background: transparent;
  outline: 1px solid yellow;
}

.bunners {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 27px;
  /*удалить*/
  outline: 10px solid rgba(255, 0, 0, 0.1);
}

.bunners-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.bunners-item {
  position: relative;
  margin: 0;
  padding: 16px 19px;
  padding-bottom: 23px; 
  width: 560px;
  border-radius: 15px;
}

.bunners-item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  color: #ffffff;
}

.bunners-item-description {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #ffffff;
}

.bunners-item-button {
  position: absolute;
  bottom: 23px;
  right: 19px;
  margin: 0;
  padding: 0;
}

.bunners-item-left-image {
  background: url("../img/bunner-left.jpg") no-repeat #5e0d1d;
}

.bunners-item-right-image {
  background: url("../img/bunner-right.jpg") no-repeat #452b1f;    
}

.catalog {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;  
  /*удалить*/
  min-height: 350px;
  outline: 10px solid rgba(255, 0, 0, 1);
}

.catalog-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
  width: 1172px;
  /* --- временно для сетки --- */
  background: transparent;
  outline: 1px solid red;
}

.catalog-item {
  margin: 0;
  /*  margin-top: -20px;*/
  padding: 0;
  /*временно*/
  width: 293px;
  height: 360px;
  background: transparent;
  outline: 1px solid yellow;
}

.features {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 27px;
  /*временно*/
  /*min-height: 306px;*/
  background: transparent;
  outline: 10px solid rgba(255, 0, 0, 0.1);
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 25px 20px;
  background-color: #efe2ca;  
/*  padding-bottom: 23px;*/
  /* --- временно для сетки --- */
  outline: 10px solid rgba(255, 0, 0, 1);
}

.features-wrapper p {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  color: #323232;
  background-color: #efe2ca;
  /* --- временно для сетки --- */
  background: transparent;
  outline: 1px solid red;
}

.features-list-container {
  /* --- временно для сетки --- */
  background: transparent;
  outline: 1px solid red;
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /* --- временно для сетки --- */
  background: transparent;
}

.features-item {
  margin: 0;
  padding: 0;
  /*временно*/
  width: 545px;
  height: 95px;
  background: transparent;
  outline: 1px solid yellow;
}

.miscellanea {
  margin: 0 auto;
  margin-bottom: 40px;
  padding: 0;
  width: 1146px;
  min-height: 220px;
  /*временно*/
  background: transparent;
  outline: 1px solid green;
}

.miscellanea-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  /* --- временно для сетки --- */
  background: transparent;
}

.miscellanea-item {
  margin: 0;
  padding: 0;
  /*временно*/
  width: 560px;
  height: 220px;
  background: transparent;
  outline: 1px solid yellow;
}

.contacts {
  margin: 0 auto;
  padding: 0;
  width: 1200px;
  height: 430px;
  /*временно*/
  background: transparent;
  outline: 1px solid green;
}

.contacts-wrapper {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  /* --- временно для сетки --- */
  background: transparent;
}

.contacts-map {
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 430px;
  /*временно*/
  background: transparent;
  outline: 1px solid yellow;
}

.contacts-wrapper .container {
  margin: 0;
  padding: 0;
  margin-top: 62px;
  margin-left: -329px;
  width: 302px;
  height: 305px;
  /*временно*/
  background: transparent;
  outline: 1px solid yellow;
}

.main-footer {
  margin: 0;
  margin-top: 15px;
  padding: 0;
  /*временно*/
  background: transparent;
  outline: 1px solid green;
}

.main-footer .container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  width: 1146px;
  min-height: 60px;
  /*временно*/
  background: transparent;
  outline: 1px solid red;
}

.footer-social {
  margin: 0;
  margin-top: 18px;
  margin-right: 215px;
  padding: 0;
  /*временно*/
  min-width: 186px;
  height: 40px;
  background: transparent;
  outline: 1px solid yellow;
}

.footer-documents {
  margin: 0;
  margin-top: 18px;
  padding: 0;
  /*временно*/
  min-width: 330px;
  height: 40px;
  background: transparent;
  outline: 1px solid yellow;
}

.footer-copyright {
  margin: 0;
  margin-left: auto;
  padding: 0;
  /*временно*/
  min-width: 195px;
  background: transparent;
  outline: 1px solid yellow;
}

.catalog-container {
  margin: 0;
  margin-top: -20px;
  padding: 0;
  /*временно*/
  min-height: 60px;
  background: transparent;
  outline: 1px solid green;
}

.catalog-container-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 0;
  width: 1146px;
  min-height: 60px;
  /*временно*/
  background: transparent;
  outline: 1px solid red;
}

.page-title {
  margin: 0;
  padding: 0;
  /*временно*/
  width: 250px;
  height: 20px;
  background: transparent;
  outline: 1px solid yellow;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  /*временно*/
  width: 400px;
  height: 44px;
  background: transparent;
  outline: 1px solid yellow;
}

.filters {
  margin: 0;
  padding: 0;
  /*временно*/
  background: transparent;
  outline: 1px solid green;
}

.filters-wrapper {
  margin: 0 auto;
  padding: 0;
  width: 1146px;
  /*временно*/
  min-height: 130;
  background: transparent;
  outline: 1px solid red;
}

.filters-wrapper .container {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  width: 860px;
  height: 134px;
  background: transparent;
  outline: 1px solid blue;
}

.pagination-list-wrapper {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 0;
  width: 1146px;
  /*временно*/
  min-height: 130;
  background: transparent;
  outline: 1px solid red;
}

.pagination-list {
  margin: 0;
  padding: 0;
  /*временно*/
  width: 200px;
  height: 40px;
  background: transparent;
  outline: 1px solid blue;
}